%h1 Listing servers

%table.table.table-striped.table-hover
  %thead
    %tr
      %th Distributive
      %th Kernel Version
      %th Ip
      %th Status
      %th
      %th
      
  %tbody
    - @servers.each do |server|
      %tr
        %td= server.distro_name
        %td= server.kernel_release
        %td= server.ip
        %td= server.state
        - if server.state == 'active'
          %td
        - else
          %td= link_to 'Activate', activate_server_path(server), method: :patch 
        %td= link_to 'Show', server
        %td= link_to 'Edit', edit_server_path(server)
        %td= link_to 'Destroy', server, :method => :delete, :data => { :confirm => 'Are you sure?' }

= link_to 'New Server', new_server_path
