.row
  .col-md-offset-4.col-md-4
    .well
      %fieldset
        %legend Log in
      = form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'form-horizontal' }) do |f|
        .form-group
          = f.label :email, class: 'col-lg-2 control-label'
          .col-lg-10
            = f.email_field :email, autofocus: true, class: 'form-control'
        .form-group
          = f.label :password, class: 'col-lg-2 control-label'
          .col-lg-10
            = f.password_field :password, autocomplete: "off", class: 'form-control'
            - if devise_mapping.rememberable?
              .checkbox
                %label
                  = f.check_box :remember_me
                  Remember me
        .form-group
          .col-lg-10.col-lg-offset-2
            = f.submit "Log in", class: 'btn btn-primary'
      = render "devise/shared/links"