!!!
%html
  %head
    %title Cloud Monitoring
    %meta{content: 'user-scalable=no', name: 'viewport'}
    = stylesheet_link_tag    'pages'
    = javascript_include_tag 'pages'
    = csrf_meta_tags
  %body
    = render 'shared/pages/navbar'
    = yield
    = render 'shared/pages/footer'
